{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-primary mb-5 border-bottom">CONTACT US </h1>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            Do you have any questions? Please do not hesitate to contact. I will come back to you within a matter of hours to help you.
        </p>
        <div class="col-sm-9 mb-5">
            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Your Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="John Wick">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Your Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="you@gmail.com">
                    </div>
                </div>
                    <div class="form-group">
                        <label for="inputSubject">Your Subject</label>
                        <input type="text" class="form-control" id="inputSubject" placeholder="Web App Development">
                    </div>
                    <div class="mb-3">
                        <label for="inputTextarea">Your Message </label>
                        <textarea class="form-control" id="inputTextarea" placeholder="Your message............" required></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x i-color"></i>
                    <p>Hisar, Haryana, India</p>
                </li>
                <li>
                    <i class="fas fa-phone mt-4 fa-2x i-color"></i>
                    <p>+91 9053403683</p>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x i-color"></i>
                    <p>sahiljaggrwal@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="{% url 'twitter' %}" target="_blank"><i class="fab fa-twitter i-color mr-3 fa-2x"></i></a>
    <a href="{% url 'instagram' %}" target="_blank"><i class="fab fa-instagram i-color mr-3 fa-2x"></i></a>
    <!-- <a href="#" target="_blank"><i class="fab fa-reddit i-color mr-3 fa-2x"></i></a> -->
    <a href="{% url 'linkedin' %}" target="_blank"><i class="fab fa-linkedin i-color mr-3 fa-2x"></i></a>
    <!-- <a href="#" target="_blank"><i class="fab fa-discord i-color mr-3 fa-2x"></i></a> -->
    <a href="{% url 'github' %}" target="_blank"><i class="fab fa-github i-color mr-3 fa-2x"></i></a>
</div>
{% endblock content %}