
{% extends 'core/base.html'%}

{% block content %}
<div class="container mt-5">
    <h1 class="text-primary mb-5 border-bottom ">Services</h1>
    <div class="row text-white text-center mb-5">
        <!-- First Row -->
        <div class="col-sm-4">
            <!-- Python -->
            <i class="fa-brands fa-python fa-3x mb-3 text-warning "></i>
            <h3>PYTHON</h3>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, at.</p>
        </div>

        <div class="col-sm-4">
            <!-- Django -->
            <i class="fa-solid fa-horse fa-3x mb-3 i-colo text-success"></i>
            <h3>DJANGO</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, at.</p>
        </div>
        <div class="col-sm-4">
            <!-- Postgresql -->
            <i class="fa-solid fa-database fa-3x mb-3 text-secondary"></i>
            <h3>POSTGRESQL</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, at.</p>
        </div>

        <!-- 2nd Row -->
        <div class="col-sm-4">
            <i class="fa-brands fa-docker fa-3x mb-3 text-info "></i>
            <h3>DOCKER</h3>
            <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, at.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-3x mb-3 i-colo text-danger"></i>
            <h3>DJANGO REST FRAMEWORK</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, at.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-aws fa-3x mb-3 text-info"></i>
            <h3>AWS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, at.</p>
        </div>

        <!-- 3rd Row -->
        <div class="col-sm-4">
            <i class="fa-brands fa-ubuntu fa-3x mb-3 text-danger"></i>
            <h3>LINUX</h3>
            <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, at.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-square-js fa-3x mb-3  text-success"></i>
            <h3>NODE JS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, at.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-infinity fa-3x mb-3 text-secondary"></i>
            <h3>DEVOPS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, at.</p>
        </div>

        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div> 
    </div>
</div>
{% endblock content %}
