{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-primary mb-5 border-bottom">SKILLS</h1>

    <div class="row text-white">
        <!-- Column 1 -->
        <div class="col-sm-5">
            <h3 class="mt-3">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:100%" aria-voluenow="'100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        <!-- Column 2 -->
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-3">JAVASCRIPT</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:75%" aria-voluenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
        </div>
        <!-- Column 3 -->
        <div class="col-sm-5">
            <h3 class="mt-3">BOOTSTRAP</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:65%" aria-voluenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
        </div>
        <!-- Column 4 -->
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-3">GIT/GITHUB</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:85%" aria-voluenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
        </div>
        <!-- Column 5 -->
        <div class="col-sm-5 ">
            <h3 class="mt-3">PYTHON</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" aria-voluenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
        </div>
        <!-- Column 6 -->
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-3">DJANGO</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:85%" aria-voluenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
        </div>
        <!-- Column 7 -->
        <div class="col-sm-5 ">
            <h3 class="mt-3">DJANGO REST FRAMEWORK</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" aria-voluenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
        </div>
        <!-- Column 8
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-3">DJANGO</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:85%" aria-voluenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
        </div> -->
        <!-- Column 9 -->
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-3">POSTGRESQL</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:55%" aria-voluenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
            </div>
        </div>
        <!-- Column 10 -->
        <div class="col-sm-5 ">
            <h3 class="mt-3">DOCKER</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:65%" aria-voluenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
        </div>
        <!-- Column 11 -->
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-3">AWS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width:75%" aria-voluenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
        </div>
        <!-- Column 12 -->
        <div class="col-sm-5 ">
            <h3 class="mt-3">NODEJS/EXPRESSJS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:65%" aria-voluenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>
        </div>
        <!-- Column 13 -->
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-3">MONGODB</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width:50%" aria-voluenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
        </div>
        <!-- Column 14 -->
        <div class="col-sm-5 ">
            <h3 class="mt-3">REACTJS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width:25%" aria-voluenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
        </div>
        <!-- Cloumn -->
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-3">LINUX</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:100%" aria-voluenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}